<div data-sly-test="${wcmmode.edit}">
	Configure Login Component
</div>

<sly data-sly-use.model="com.iib.platform.common.models.LoginModel">

	<a class="login-btn" href="${model.loginUrl}" target="${model.openInNewWindow == 'true' ? '_blank' : ''}">${model.loginButtonText}</a>

</sly>