/* Equity Fund styele css start */

.page-header .hd-plan h2 {
    font-size: 98px;
    font-family: 'Univers';
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 500;
    position: relative;
    top: 20px;
}

.page-header.page-equity {
    background-position-y: 20%;
}

.orange-rop-top {
    position: relative;
    display: flex;
    justify-content: center;
    border-top: 4px solid #fe6241;
    top: -4px;
}
 .owl-carousel.articleOne .owl-stage,  .owl-carousel.articleOne .owl-stage .owl-item,  .owl-carousel.articleOne .owl-stage .item{
    display: flex;
}

.title-box-orange {
    color: #fff;
    background: #fe6241;
    padding: 2px 20px;
    letter-spacing: 4px;
}

.quity-sec-one .hd-plan {
    width: auto;
    margin: 30px auto 20px;
    padding: 0 12%;
}


.quity-sec-one .hd-plan h2 {
    font-weight: 800;
    font-size: 34px;
    color: #fe6241;
    line-height: 42px;
}

.quity-sec-one p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    padding: 0 45px;
  /* 	text-align: center !important; */
}

/*
.quity-sec-one .p-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 45px;
}
*/

.quity-sec-inside {
    display: inline-block;
    margin: 30px 0;
    width: 100%;
    text-align: center;
    padding: 0 100px;
}

.process-link {
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    width: 100%;
    display: inline-block;
    text-align: left;
    position: relative;
}

.process-link:after {
    content: "\f054";
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.button.orange-flat-btn {
    padding: 10px 40px;
    display: inline-block;
    background: #fe6646;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
}

.quity-sec-one {
    background: #f3f3f4;
}

.quity-sec-one .container {
    background: #fff;
}

.equity-sec-two {
    background: #f3f3f4;
    padding-top: 30px;
}

.equity-sec-two .card-deck {
    margin-top: 40px;
    /* margin-bottom: 90px; */
}

.equity-sec-two .h3-text {
    font-size: 30px;
    font-weight: 800;
    line-height: 38px;
    margin-top: 40px;
}

.articleOne.owl-carousel .owl-nav.disabled{
	display: block !important;
}

.equity-sec-two .owl-prev,
.equity-sec-two .owl-next {
    width: 16px;
    height: 31px;
}

.equity-sec-two .owl-next {
    right: -20px;
    background: url(/content/dam/iibPlatform/indusSmart/images/css_arrow_gray.png) -10px -10px;
}

.equity-sec-two .owl-prev {
    left: -20px;
    background: url(/content/dam/iibPlatform/indusSmart/images/css_arrow_gray.png) -46px -10px;
}

.equity-sec-two .card {
    border-radius: 0;
}

.equity-sec-two .card-title {
    font-family: 'Univers';
    text-align: center;
    font-size: 28px;
    line-height: 32px;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 15px;
    max-height: 75px;
}

.equity-sec-two .card-footer .social-link {
    font-size: 11px;
}

.equity-sec-two .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.equity-sec-two .card-deck .card-footer {
    border: none;
    background-color: #fff;
}

.equity-sec-two .red-rop {
    position: absolute;
    left: -11px;
    top: 13px;
}

@media (max-width:991px) {
    .process-link {
        margin-bottom: 20px;
    }
    .equity-sec-two .h3-text {
        text-align: center;
    }
}

@media (max-width:568px) {
    .equity-sec-two .card-title {
        padding-bottom: 0;
    }
    .equity-sec-two .card-body {
        padding-bottom: 0;
    }
    .hd-plan {
        width: 100%;
        padding: 0 30px;
    }
    .equity-sec-two .card {
        margin-bottom: 50px;
    }
    .equity-sec-two .card-deck {
        padding: 0 10%;
    }
    .equity-sec-two .owl-prev,
    .equity-sec-two .owl-next {
        top: 40%;
    }
}

@media (max-width:568px) {
    .quity-sec-inside {
        padding: 0 30px;
    }
    .equity-sec-two .h3-text {
        font-size: 6vw;
        font-weight: 800;
        line-height: 38px;
    }
    .articleOne .item {
        padding: 15px;
    }
    .equity-sec-two .card-deck {
        margin-top: 10px;
    }
}

@media (max-width:480px) {
    .equity-sec-two .card-title {
        font-size: 7vw;
    }
    .quity-sec-one .hd-plan h2 {
        font-size: 6vw;
        line-height: 36px;
    }
	/*
    .quity-sec-one .p-text {
        font-size: 3.4vw;
    }
	*/
    .quity-sec-one p {
        font-size: 3.4vw;
    }
    .process-link {
        font-size: 4vw;
    }
}