<template data-sly-template.head="${ @ page }" data-sly-use.headlibRenderer="headlibs.html">
	<head>
        <title>${page.title}</title>
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	
        <link rel="shortcut icon" href="${page.favIcon}">

        <sly data-sly-include="customheaderlibs.html"></sly>
        <sly data-sly-call="${headlibRenderer.headlibs @designPath = page.designPath}"></sly>

        ${page.customMetaTags @context='html'}
        <script>${page.headScript @context = 'unsafe'} </script>
    </head>
</template>