<div data-sly-test="${wcmmode.edit}">
    Configure Create E-nach Form Component
 </div>
 
 <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
      
 <sly data-sly-use.model="com.iib.platform.enach.models.CreateEnachModel">
     <div class="innerwork_wrap">
        <div class="inner_wrap">
           <div class="about2boxInner">
              <div class="pagingwrap"><a href="${model.backButtonUrl}"><i class="fas fa-angle-left"></i> ${properties.backHeading}</a></div>
              <div class="tablebox ccode mobilever" ><img src="${properties.imagePath}" class="enachofferimg"></div>
              <div class="headingLine">${properties.eNachHeading}</div>
              <div class="nach_details_wrap">
                 <div class="cointaner_details inputonlytxt">
                    <form class="formbox" id="createform">
                       <div class="fieldbox">
                          <div class="fieldboxHeading">${properties.debitDetails} <span><i class="fas fa-exclamation"></i></span></div>
                          <div class="clr"></div>
                       </div>
                       <div class="fieldbox">
                          <div class="fieldboxleft customerNameLabel">Customer Name<small>*</small></div>
                          <div class="fieldboxright"><input style="text-transform: uppercase;" type="text" name="customerName" class="enachofferInput customerName"></div>
                          <div class="clr"></div>
                       </div>	                  
                       <div class="fieldbox">
                          <div class="fieldboxleft bankNameLabel">${properties.bankNameHeading}<small>*</small></div>
                          <div class="fieldboxright"><input style="text-transform: uppercase;" type="text" id="awesomeHu" name="destinationBank" class="enachofferInput bankName awesomplete"></div>
                          <div class="clr"></div>
                       </div>
                       <div class="fieldbox">
                          <div class="fieldboxleft accountNumberLabel">${properties.accountNumber}<small>*</small></div>
                          <div class="fieldboxright"><input type="text" id="accountNumber" maxlength="34" name="accountNumber" class="enachofferInput accountNumber"></div>
                          <div class="clr"></div>
                       </div>
                       <div class="fieldbox">
                          <div class="fieldboxleft confirmAccountLabel">${properties.confirmAccountNumberHeading}<small>*</small></div>
                          <div class="fieldboxright"><input type="text" name="customerAccountNo" maxlength="34" class="enachofferInput confirmAccountNo"></div>
                          <div class="clr"></div>
                       </div>
                       <div class="fieldbox">
                          <div class="fieldboxleft ifscLabel">${properties.bankIFSCcodeHeading}<small>*</small></div>
                          <div class="fieldboxright"><input style="text-transform: uppercase;" type="text" name="destinationBankId" maxlength="11" class="enachofferInput"></div>
                          <div class="clr"></div>
                       </div>
                       <div class="fieldbox">
                          <div class="fieldboxleft maximumAmountLabel">${properties.amountToTransferHeading}<small>*</small></div>
                          <div class="fieldboxright"><input type="text" name="maximum_amount" class="enachofferInput maximum_amount"></div>
                          <div class="clr"></div>
                       </div>
                       <div class="fieldbox">
                          <div class="fieldboxleft transferFreqLabel">${properties.transferFrequencyHeading}<small>*</small></div>
                          <div class="fieldboxright">
                             <select class="enachofferSelect transferFrequency" data-sly-list="${model.listItems}">
                                <option value="${item.value}">${item.text}</option>
                             </select>
                          </div>
                          <div class="clr"></div>
                       </div>
                       <div class="fieldbox">
                          <div class="fieldboxleft startDateLabel">${properties.startDate}<small>*</small></div>
                          <div class="fieldboxright">
                             <input type="text" name="startDate" id="sdate" class="enachofferInput enachofferCal startDate">
                          </div>
                          <div class="clr"></div>
                       </div>
                       <div class="fieldbox">
                          <div class="fieldboxleft endDateLabel">${properties.endDate}<small>*</small></div>
                          <div class="fieldboxright">
                             <input type="text" name="endDate" id="edate" class="enachofferInput enachofferCal endDate">
                          </div>
                          <div class="clr"></div>
                       </div>
                       <div class="fieldbox">
                          <div class="fieldboxleft totalAmountLabel">${properties.totalAmount}<small>*</small></div>
                          <div class="fieldboxright"><input type="text" id="totalAmount" class="enachofferInput totalAmount" disabled></div>
                          <div class="clr"></div>
                       </div>
                       <div class="fieldbox">
                          <div class="fieldboxleft totalInstallmentsLabel">${properties.totalInstallments}<small>*</small></div>
                          <div class="fieldboxright"><input type="text" id="totalInstallments" class="enachofferInput totalInstallments" disabled></div>
                          <div class="clr"></div>
                       </div>
                       <div class="fieldbox">
                          <div class="fieldboxleft tooltip aadharLabel">${properties.aadhaarVirtualId}<small>*</small> <span class="tooltiptext">Tooltip text</span></div>
                          <div class="fieldboxright">
                             <input type="text" name="aadharId" class="enachofferInput aadharId">
                             <div class="vid"><a href="https://resident.uidai.gov.in/web/resident/vidgeneration" target="_blank">${properties.generateVID}</a></div>
                          </div>
                          <div class="clr"></div>
                       </div>
                       <div class="fieldbox">
                          <div class="fieldboxleft referralCodeLabel">${properties.referralCode}</div>
                          <div class="fieldboxright"><input style="text-transform: uppercase;" type="text" name="" class="enachofferInput">
                          </div>
                          <div class="clr"></div>
                       </div>
                       <div class="tablebox ccode desktopver" >
                          <img src="${properties.imagePath}" class="enachofferimg">
                       </div>
                    </form>
                    <div class="clear"></div>
                 </div>
                 <div class="cointaner_details inputonlytxt">
                    <div class="formbox">
                       <div class="fieldbox">
                          <div class="fieldboxHeading">${properties.creditDetails} <span><i class="fas fa-exclamation"></i></span></div>
                          <div class="clr"></div>
                       </div>
                       <div class="fieldbox">
                          <div class="fieldboxleft creditAccountLabel">${properties.creditAccountHeading}<small>*</small></div>
                          <div class="fieldboxright">
                             <select class="enachofferSelect accountNo">
                             </select>
                          </div>
                          <div class="clr"></div>
                       </div>
                       <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                 </div>
                 <div class="cointaner_details inputonlytxt">
                    <div class="formbox">
                       <div class="fieldbox">
                          <div class="fieldboxHeading"><label for="openRD"><input type="checkbox" name="openRDCheck" id="openRD" ></label>${properties.rdStatement}</div>
                          <div class="clr"></div>
                       </div>
                       <div class="recurringWrapper" hidden>
                           <div class="fieldbox">
                              <div class="fieldboxleft">${properties.rdAmount}<small>*</small></div>
                              <div class="fieldboxright rdAmount">NA</div>
                              <div class="clr"></div>
                           </div>
                           <div class="fieldbox">
                              <div class="fieldboxleft">${properties.transferFrequencyHeading}<small>*</small></div>
                              <div class="fieldboxright rdTransferFrequency">NA</div>
                              <div class="clr"></div>
                           </div>
                           <div class="fieldbox">
                              <div class="fieldboxleft">${properties.startDate}<small>*</small></div>
                              <div class="fieldboxright rdStartDate">NA</div>
                              <div class="clr"></div>
                           </div>
                           <div class="fieldbox">
                              <div class="fieldboxleft">${properties.maturityDate}<small>*</small></div>
                              <div class="fieldboxright rdEndDate">NA</div>
                              <div class="clr"></div>
                           </div>
                           <div class="fieldbox">
                              <div class="fieldboxleft">${properties.rateInterest}<small>*</small></div>
                              <div class="fieldboxright">6.85% per annum</div>
                              <div class="clr"></div>
                           </div>
                           <div class="fieldbox">
                              <div class="fieldboxleft">${properties.maturityAmount}<small>*</small></div>
                              <div class="fieldboxright">Rs. 1,49,0456.00</div>
                              <div class="clr"></div>
                           </div>
                           <div class="fieldbox">
                              <div class="fieldboxBot"><label for="Nominee"><input type="checkbox" id="Nominee" value="Nominee"></label>${properties.nomineeStatement}</div>
                              <div class="clr"></div>
                           </div>
                           <div class="fieldbox">
                              <div class="fieldboxBot"><strong>${properties.note}</strong>${properties.comment}</div>
                              <div class="clr"></div>
                           </div>
                       </div>
                    </div>
                    <div class="clear"></div>
                 </div>
                 <div class="cointaner_details inputonlytxt" style="border-bottom:none;">
                    <div class="formbox">
                       <div class="fieldbox">
                          <div>
                             <input name="" type="submit" class="btnonlybox confirmbutton" value="${properties.confirm}">
                             <a href="${model.cancelButtonUrl}"><input name="" type="submit" class="btnonlybox" value="${properties.cancel}"></a> 
                          </div>
                          <div class="clear"></div>
                       </div>
                       <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                 </div>
                 <div class="cointaner_details inputonlytxt" style="border-bottom:none;">
                    <div class="formbox">
                       <div class="fieldbox">
                          <div class="fieldboxleft"><small>*</small>Mandatory</div>
                          <div class="clear"></div>
                       </div>
                       <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                 </div>
              </div>
           </div>
        </div>
     </div>
 </sly>
 
 <sly data-sly-call="${clientlib.js @ categories='enach.createForm'}"/>