<div data-sly-test="${wcmmode.edit}">
   Configure Help Me Component
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.all @ categories='indus-smart.helpMe'}"/>
		 
	<sly data-sly-test="${!properties.disableComponent}">
	   <sly data-sly-use.model="com.iib.platform.indussmart.models.HelpMeModel">
	      <div class="tg-form">
	         <form>
	            <div class="form-group wow fadeInUp" data-wow-delay="0.1s">
	               <label for="InputName">Hi I' m <input type="text" id="InputName" class="form-control username" placeholder="${properties.namePlaceHolder}" aria-label="Username"> and you</label>
	            </div>
	            <div class="form-group wow fadeInUp" id="numberDiv" data-wow-delay="0.1s">
	               <label for="InputMobile">may call me on <input type="text" pattern="[6789][0-9]{9}" maxlength="10" class="form-control mobileNumber" id="InputMobile" placeholder="${properties.phonePlaceHolder}"> or
	               </label>
	            </div>
	            <div class="form-group wow fadeInUp" data-wow-delay="0.1s">
	               <label for="exampleInputEmail1">email me at <input type="email" class="form-control emailId" id="exampleInputEmail1"  maxlength="24" placeholder="${properties.emailPlaceHolder}"></label>
	            </div>
	            <div data-successUrl="${model.successUrl}" class="form-group form-check wow fadeInUp pageUrlDiv" data-wow-delay="0.1s">
	               <label class="form-check-label" for="exampleCheck1" data-toggle="modal" data-target="#chkterm"><input type="checkbox" class="form-check-input termsConditions" id="exampleCheck1">
	               I agree to the <a class="color_orange" href="javascript:;">terms & conditions</a></label>
	               <!-- <button id="heplmesubmit" data-toggle="modal" type="button" class="button helpMeBtn">${properties.buttonText}</button> -->
	               <button id="heplmesubmit" data-toggle="modal" type="button" class="button disable helpMeBtn">Submit </button>
                   
	            </div>
	         </form>
	      </div>
	      
	      <div class="modal tm fade" id="chkterm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	         <div class="modal-dialog" role="document">
	            <div class="modal-content">
	               <div class="modal-header">
	                  <h5 class="modal-title" id="exampleModalLabel">${properties.heading}</h5>
	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                  <span aria-hidden="true">&times;</span>
	                  </button>
	               </div>
	               <div class="modal-body">
	                  ${properties.text @ context='html'}
	               </div>
	               <div class="modal-footer">
	                  <button id="declineBtn" type="button" class="btn btn-secondary" data-dismiss="modal">${properties.declineButton}</button>
	                  <button id="acceptBtn" type="button" class="btn btn-primary" data-dismiss="modal">${properties.acceptButton}</button>
	               </div>
	            </div>
	         </div>
	      </div>

	      <div class="modal tm fade" id="termsConditions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	         <div class="modal-dialog" role="document">
	            <div class="modal-content">
	               <div class="modal-header">
	                  <h5 class="modal-title" id="exampleModalLabel">IndusSmart</h5>
	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                  <span aria-hidden="true">&times;</span>
	                  </button>
	               </div>
	               <div class="modal-body termsConditionsText">

	               </div>
	               <div class="modal-footer">
	                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
	               </div>
	            </div>
	         </div>
	      </div>
	     
	   </sly>
	</sly>