<template data-sly-template.head="${ @ page }" data-sly-use.headlibRenderer="headlibs.html">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
		<meta name="description" data-sly-test.description="${page.description}" content="${page.description}"/>
		<meta name="keywords" data-sly-test.keywords="${page.keywords}" content="${page.keywords}"/>

        <title>${page.title}</title>

    	<link rel="shortcut icon" href="${page.favIcon}">

        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

        <meta itemprop="name" content="${page.siteName}">
        <meta itemprop="keywords" content="${page.keywords}">
        <meta itemprop="description" content="${page.description}">
        <meta itemprop="image" content="${page.teaserImage}">

        <meta name="twitter:card" content="${page.description}">
        <meta name="twitter:site" content="${page.url}">
        <meta name="twitter:creator" content="${page.siteName}">
        <meta name="twitter:title" content="${page.title}">
        <meta name="twitter:description" content="${page.description}">
        <meta name="twitter:image:src" content="${page.teaserImage}">

       	<meta property="og:site_name" content="${page.siteName}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="${page.title}" />
        <meta property="og:url" content="${page.url}" />
        <meta property="og:image" content="${page.teaserImage}" />
        <meta property="og:description" content="${page.description}" />

        <sly data-sly-include="customheaderlibs.html"></sly>
        <sly data-sly-call="${headlibRenderer.headlibs @designPath = page.designPath}"></sly>

        ${page.customMetaTags @context='html'}
        <script>${page.headScript @context = 'unsafe'} </script>
    </head>
</template>
