<div data-sly-test="${wcmmode.edit}">
   Configure Alert Popup Component
</div>

<div id="alertBox" style="display: none">
    <div class="white_content" >
       <div class="pop-content">
          <h2 id="alertMessage">
          </h2>
          <div class="pop-btn">
             <button type="button" class="pop-overlay-btn hvr-btn alertBtn">Okay</button>
          </div>
          <div class="proceed-div">
			<div class="left-proceed">
            <img src="/content/dam/iibPlatform/enach/images/not-log.png"/> 
        </div>
        <div class="right-proceed">
            <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing </b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
			Ut enim ad minim veniam.</p>
        </div>

          </div>
       </div>
    </div>
    <div id="fade" class="black_overlay"></div>
</div>