/* Search CSS start */

.bannerHeading {
	color: #fe6241 !important;
}

.page-header {
    background-position: center center;
    background-size: cover;
    padding: 20px;
    height: 396px;
}

.page-header.page-calculater {
    background-position-y: 76%;
}

.page-header .hd-plan {
    width: 795px;
    display: inline-block;
    text-align: center;
    margin: 12% 0 0 0;
}

.page-header .hd-plan h2 {
    font-size: 98px;
    font-family: 'Univers';
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 500;
    position: relative;
    top: 20px;
}

.page-header .hd-plan p {
    color: #fff;
    font-size: 20px;
}

.search_list .card {
    border-radius: 0;
    border: none;
}

.search_list .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid rgba(0, 0, 0, .125);
}

.search_list .card .card-body {
    min-height: 166px;
}

.search_list .card-deck .card-footer {
    border: none;
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
}

.search_list .card-deck .card-footer ul li:nth-child(3),
.search_list .card-deck .card-footer ul li:nth-child(2) {
    float: right;
    margin-right: 0;
    margin-left: 5px;
}

.search_list .card-deck .card-footer ul li:nth-child(1) {
    float: left;
}

.search_list .card-footer .social-link {
    font-size: 11px;
}

.search_list .card-deck {
    margin-top: 40px;
    display: list-item;
    list-style: none;
}

.search_list .card-footer .social-link {
    font-size: 11px;
}

.search_list .search-detail h3 {
    font-family: 'Univers';
    font-size: 32px;
    line-height: 48px;
    color: #383838;
}

.search_list .search-detail p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #4b4e5f;
}

.filter_list {
    margin-top: 20px;
}

.filter_list h5 {
    margin-top: 8px;
}

.search_list .search-detail .ra-link {
    color: #000;
    margin-left: 25px;
    color: #4a4a4a;
}

.page-link {
    border: none;
    color: #fe6646;
    border-radius: 50%;
    margin: 0 2px;
    width: 30px;
    height: 30px;
    line-height: 15px;
}

.page-item.active .page-link {
    background-color: #fe6646;
    border-color: #fe6646;
}

.search_list .top-pagination {
    width: 100%;
    display: inline-block;
}

.btm-pagination {
    margin: 50px auto;
    width: 100%;
    justify-content: center;
    display: flex;
}

.search_list .related_search {
    background: #f9f9f9;
    position: relative;
    box-shadow: unset;
    border: none;
}

@media (max-width:1024px) {}

@media (max-width:800px) {
    .page-header .hd-plan {
        width: 100%;
        margin: a auto;
    }
    .page-header .hd-plan h2 {
        font-size: 14vw;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    }
    .page-header .hd-plan p {
        font-size: 3vw;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    }
    .search_list .container {
        max-width: 90% !important;
    }
}

@media (max-width:568px) {
    .container {
        padding-right: 25px;
        padding-left: 25px;
    }
    .search_list .card-footer .social-link {
        font-size: 14px;
    }
    .search_list .top-pagination {
        width: 100%;
        display: flex;
        margin-top: 15px;
    }
}