<div data-sly-test="${wcmmode.edit}">
   Configure Main Component
</div>

<div class="innerwork_wrap">
   <div data-sly-resource="${'banner' @ resourceType='iib-platform/components/content/enach/banner'}"></div>
   <div class="inner_wrap">
      <div data-sly-resource="${'list-of-enach' @ resourceType='iib-platform/components/content/enach/listOfEnach'}"></div>
   
      <div class="inner_wrap">
         <div class="about2boxInner simpletxt">
   		 <div data-sly-resource="${'text' @ resourceType='iib-platform/components/content/common/text'}"></div>
   		 <div class="Benefits_of_wrap">
         	<div data-sly-resource="${'benifits-of-enach' @ resourceType='iib-platform/components/content/enach/benifitsOfEnach'}"></div>
         </div>
            <div class="Benefits_of_wrap offer_enach">
            	<h2>E-NACH Offers</h2>
               <div data-sly-resource="${'text1' @ resourceType='iib-platform/components/content/common/text'}"></div>
            </div>
         </div>
      </div>
   </div>
</div>