<div data-sly-test="${wcmmode.edit}">
	Configure Search Result Component
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='indus-smart.search'}"/> 

<sly data-sly-test="${!properties.disableComponent}">
    <!-- <sly data-sly-use.model=""> -->
        <section class="full-section search_list">
            <div class="container-fluid">
                <div class="filter_list">
                    <div class="row">
                        <div class="col-md-7 col-12">
                            <h5>You found 3 search result page for mutual funds</h5>
                        </div>
                        <div class="col-md-5 col-12">
                            <div class="top-pagination">
                                <nav aria-label="Page navigation search-pagination">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <!-- heading and text start -->
                <div>
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12 col-sm-12 no-padding-lr">
                            <!-- search item start -->
                            <div class="card-deck">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-5 mg-bottom-fifty">
                                        <div class="card">
                                            <img class="card-img-top" src="/content/dam/iibPlatform/indusSmart/images/plan06.jpg" alt="Card image cap">
                                            <div class="card-footer">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a class="social-link" href="javascript:;">July 02, 2018</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-link" href="javascript:;"><i class="fa fa-share-alt"></i> Share</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="social-link" href="javascript:;"><i class="fa fa-hourglass-half"></i> 10Mins</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-8 col-sm-7">
                                        <div class="search-detail">
                                            <h3>Can Mutual Funds help create wealth?</h3>
                                            <p>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo Sed ut perspiciatis unde omnis iste
                                                natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore verit.
                                            </p>
                                            <p>
                                                <a href="javascript:;">Show More</a>
                                                <a class="ra-link" href="javascript:;">Related Articles</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- search item end -->
                        </div>
                    </div>
                </div>
                <!-- heading and text end -->
            </div>
            <!-- bottom pagination start -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="btm-pagination">
                            <nav aria-label="Page navigation search-pagination">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- pagination end -->
            <!-- Related Search Article  -->
            <div class="related_search">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <ul class="rtl-list list-unstyled">
                                        <h6 class="text-uppercase">Quick Links</h6>
                                        <li><a href="javascript:;">Benefits of staying invested in long term</a></li>
                                        <li><a href="javascript:;">How to plan in personal equity funds</a></li>
                                        <li><a href="javascript:;">How indussmart help me</a></li>
                                        <li><a href="javascript:;">Equity Vs Debt Funds</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <ul class="rtl-link list-unstyled">
                                        <h6 class=" text-uppercase">Trending Topics</h6>
                                        <li><a href="javascript:;">Linking your Aadhar</a></li>
                                        <li><a href="javascript:;">Updating your KYC documents</a></li>
                                        <li><a href="javascript:;">Online security and fraud awareness</a></li>
                                        <li><a href="javascript:;">SIP Calculator</a></li>
                                        <li><a href="javascript:;">Equity Vs Debt Funds</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Related Search Article  -->
        </section>
    <!-- </sly> -->
</sly>