<div data-sly-test="${wcmmode.edit}">
   Configure Login Component
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>

<sly data-sly-use.model="com.iib.platform.enach.models.LoginModel">
   <div class="innerwork_wrap">
      <div class="bannerinner">
         <img src="${model.srcPath}" width="1003" height="213" title="${model.hoverText}">
         <div class="bannertxt welcomeright">&nbsp;
         </div>
      </div>

      <div class="inner_wrap">
         <div class="about2boxInner">
            <div class="pagingwrap"><a href="${model.backButtonUrl}"><i class="fas fa-angle-left"></i> ${model.backButtonText}</a></div>
            <div class="headingLine">${model.sectionHeading}</div>
            <div class="simpletxt">
               <p>${model.subHeading}</p>
            </div>
            <div class="formboxcenter">
               <form class="Otp100-form loginForm">
                  <span class="Otp100-form-title">${model.loginTitle}</span>
                  <div class="wrap-input100">
                     <input class="input100 mobile" type="text" name="" maxlength="10" placeholder="${model.numberPlaceholder}">
                  </div>
                  <div class="wrap-input100 Otp" hidden>
                     <input class="input100 otpverify" type="text" name="" maxlength="6" placeholder="${model.otpPlaceholder}" >
                  </div>
                  <div class="container-login100-form-btn">
                     <button type="button" class="form-btn hvr-btn otpSms">
                     ${model.proceedButtonText}
                     </button>
                  </div>
                  <div class="OtptextBox resendTimerBox" style="display:none">
                     Resend OTP<div class="resendTimer" id="resendTimer">02 : 00</div>
                  </div>
                  <div class="OtptextBox resendViaSms" style="display:none">
                     <a href="javascript:void(0)" id="sendOtpText" class="sendotpblk">${model.sendOTPSmsText}</a> 
                  </div>
                  <div class="OtptextBox resendViaCall" style="display:none">
                     <a href="javascript:void(0)" id="sendOtpCall" class="sendotpblk">${model.sendOTPCallText}</a>
                  </div>
                   <div class="wrap-input100 Dob" hidden>
                     <input class="input100 dobVerify" type="date" name="" placeholder="Enter DOB" >
                  </div>
               </form>
               
                <form class="Otp100-form dobForm" hidden>
                   <div class="wrap-input100 Dob">
                     <input class="input100" id="date-input" type="date" placeholder="Enter DOB" >
                  </div>
                  <div class="container-login100-form-btn">
                     <button type="button" class="form-btn hvr-btn dobBtn">
                     ${model.proceedButtonText}
                     </button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</sly>

<sly data-sly-call="${clientlib.all @ categories='enach.login'}"/>